.App {padding: 10px 50px; box-sizing: border-box;}
.App h1{text-align: center;}
.App .movie{display: flex; align-items: center; border: 1px solid #866cf8; padding: 10px; justify-content: space-between; margin-bottom: 10px; }
.App .movie .movie-title{flex-grow: 1;}
.App .movie .movie-year{font-size: 0.7rem; color: #866cf8;}
.App input{width: 100%; border: 1px solid #ddd; padding: 10px; margin-bottom: 5px; box-sizing: border-box;}
.App button{width: 100%; border: none; padding: 10px; margin-bottom: 20px; box-sizing: border-box; background: #866cf8; color: aliceblue;}
.App .removeBtn button{margin-bottom: 0;}
.errText{color: red; font-size: 12px; margin-bottom: 5px;}
.addText{color: #ccc; font-size: 15px;}